@font-face {
	font-family: myfont;
	src: url('../Cairo-VariableFont_wght.ttf');
}
* {
	font-family: myfont;
	color: aliceblue;
	direction: rtl !important;
}
html {
	background-color: '#131316';
}
a {
	text-decoration: none;
}
span {
	font-size: 1.8rem;
	color: aliceblue;
}
a {
	width: 100% !important;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
p {
	margin: 0 !important;
}
.hideScroll::-webkit-scrollbar {
	display: none !important;
}
.hideScroll {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.Text-gray {
	color: rgb(188, 185, 185);
}
.bg-main-dark {
	background-color: #131316;
}
.part-color {
	background-color: #282c2f;
}
.w-94 {
	width: 94%;
}
.w-3rem {
	width: 3rem;
}
.w-5-5rem {
	width: 5.5rem;
}
.h-55 {
	height: 55%;
}
.w-18rem {
	width: 18rem;
}
.h-2rem {
	height: 2rem;
}
.h-7rem {
	height: 7rem;
}
.h-10rem {
	height: 10rem;
}
.h-8-5rem {
	height: 8.4rem;
}
.h-30rem {
	height: 30rem;
}
.fs-0-75rem {
	font-size: 0.75rem;
}
.fs-0-85rem {
	font-size: 0.75rem;
}
.fs-1-2rem {
	font-size: 1.2rem;
}
.fs-1-5rem {
	font-size: 1.5rem;
}
.fs-1-75rem {
	font-size: 1.75rem;
}
.fs-2rem {
	font-size: 2rem;
}
.fs-2-5rem {
	font-size: 2.5rem;
}
.scroll-x {
	overflow-x: scroll !important;
}
.text-end {
	text-align: end !important;
}
.borderOfcards {
	border: 5px hidden none;
	border-radius: 15px;
}
.borderOfphoto {
	border: 1px hidden none;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
.boxShadow {
	box-shadow: 0px 5px 8px 4px rgba(31, 38, 135, 0.37);
}
.glassmorphism {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 10px 10px 10px 0px rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 15px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}
.bar {
	border-radius: 1rem;
}
.width-height-5rem {
	width: 5rem !important;
	height: 5rem !important;
}
.width-height-4rem {
	width: 4rem !important;
	height: 4rem !important;
}
.width-height-4-5rem {
	width: 4.5rem !important;
	height: 4.5rem !important;
}
.width-height-3-5rem {
	width: 3.5rem !important;
	height: 3.5rem !important;
}
.buttons-select-footer {
	position: relative;
	background-color: black !important;
	bottom: 1.25rem;
}
.border-down-color {
	border-bottom: 1px solid #ffffff57 !important;
}
.circle-button-select-footer {
	box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.37);
}
.widthOfwelcomeLogo {
	width: 6rem;
}
.text-start {
	text-align: start !important;
}
@media only screen and (max-width: 640px) {
	.scroll-x {
		overflow-x: scroll !important;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	span {
		font-size: 1.6rem !important;
		color: aliceblue;
	}
	.fs-0-85rem {
		font-size: 0.65rem !important;
	}
}
@media (min-width: 576px) and (max-width: 800px) {
	span {
		font-size: 1.6rem !important;
		color: aliceblue;
	}
	.fs-0-85rem {
		font-size: 0.7rem !important;
	}
}
@media (max-width: 360px) {
	span {
		font-size: 1.6rem !important;
		color: aliceblue;
	}
	.fs-0-85rem {
		font-size: 0.7rem !important;
	}
}
@keyframes example {
	from {
		right: -22rem;
	}
	to {
		right: 0rem;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.comeBoxanimation {
	position: relative;
	animation-name: example;
	right: -22rem;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}
.fadeMe {
	animation: fadeIn 6.5s linear;
}
